<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".VisualSnapshotActivity" android:exported="false" android:theme="@style/Theme.NowNetwork" />
        <activity
            android:name=".ExperienceLabActivity"
            android:exported="false"
            android:label="NOW Lab"
            android:theme="@style/Theme.NowNetwork" />
    </application>
</manifest>
